body {
    margin: 0;
    padding: 0;
  }
  .container{
    width: 100%;
  }
  #logo {
    margin: 12px 0 4px 0;
    padding: 10px;
    float: left;
    background-color: #001100;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  a{
    text-decoration: none !important;
    color: inherit;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 70px;
  }
  
  .navigation-bar {
    height: 70px;
    width: 100%;
    text-align:right;
  }
  

  .navigation-bar ul {
    padding: 0px;
    margin: 0px 16px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin: 4px 12px;

    display: inline;
    font-weight: bold;
  }
  
  .navigation-bar li a {
    color: black;
    font-size: 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }
  
  #menu {
    float: right;
  }
.branding{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.branding .company-title{
  float: left;
  margin: 16px;
  text-align: left;
}
.branding .company-title h1{
  font-weight: 900;
  text-align: center;
}
.branding .company-title em{
  font-weight: bold; 
  font-size: 22px;
}
.branding .company-title span{
  text-align: center;
  padding: 6px;
  margin-top: 12px;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.branding .shoe-image {
  float: right; 
  text-align: center;
  width: 80%;
  height: 80%;
}
.branding .shoe-image .img1{
  float: left;
  text-align: center;
}
.branding .shoe-image .img2{
  float: right;
  position: relative;
  top: 0;
  text-align: center;
}
.shoe-image img{
  max-width: auto;
  max-height:450px ;
}
.shop-button{
  background-color: #001100;
  color: #ffffff;
  padding: 12px 80px;
  position: relative;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 1.5px;
  top: 40px;
  margin: 12px;
  text-decoration: none;
}

.section-type{
  width: 100%;
  height: auto;
  display: flex;
}
.section-type .mens-section{
  display: inline-block;
  border-radius: 12px;
  /* float: left; */
  width: 100%;
  height: 350px;
  margin: 20px 6px;
  background-color: #1B1D22;
}
.section-type .womens-section{
  display: inline-block;
  border-radius: 12px;
  /* float: right; */
  width: 100%;
  height: 350px;
  margin: 20px 6px;
  background-color: #1B1D22;
}
.section-type h1{
  padding: 12px 26px;
  color: #fff;
}
.section-type .mens-section img{
  display: block;
  margin: auto;
  width: 70%; 
  position: relative;
  top: -20px;
}
.section-type .womens-section span{
  color: #fff;
  position: relative;
  left: 60px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;

}
.section-type span{
  color: #fff;
  position: relative;
  left: 60px;
  top: -35px;
  font-size: 28px;
  font-weight: bold;
}
.section-type .womens-section img{
  display: block;
  margin: auto;
  width: 70%; 
  position: relative;
  top: -20px; 
}

/* Horizontal scroller */
.scrollmenu div {
  display: inline-block;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.shoes-carousel h3{
  margin: 12px; 
  font-weight: bold;
}

.shoes-carousel .scrollmenu a {
  display: inline-block;
  color: #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
  margin: auto 12px;
  text-decoration: none;
}

.shoes-carousel .scrollmenu .product-item img:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shoes-carousel .scrollmenu .product-item img{
  display: block;
  height: 200px;
  width: auto;
  margin: auto 12px;
  /* background-color: rgba(0,0,0,0.2); */
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.scrollmenu::-webkit-scrollbar {
  height: 7px;
  color: red;
}
.scrollmenu::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0.2);
  width: 2px;
  border-radius: 12px;
}
.scrollmenu::-webkit-scrollbar-thumb{
  background-color: #000;
  border-radius: 4px;
}

.shoes-carousel .top-kicks{
  margin-top: 60px;
}
.contact-section{
  text-align: center;
  margin-bottom: 100px;
}
.contact-section h1{
  margin-top: 48px;
  font-weight: bold;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-section span{
  font-weight: 550;
}
.contact-section a{
  position: relative;
  top: 26px;
  background-color: #fff;
  color: inherit;
  padding: 12px 80px;
  position: relative;
  border: 4px solid black;
  font-weight: bold;
  letter-spacing: 1.5px;
  top: 40px;
  margin: 12px;
  border-radius: 6px;
  text-decoration: none !important;
}

/* Footer Section */

/* footer{
  margin-top: 100px;
  width: 100%;
  height: 300px;
  background-color: #000000;
} */

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#000;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
